@require 'infobox'

.search-box {
  width: 100%;
  margin: 0;
  padding: 0;

  .search-header {
    text-align: center;
  }

  .search-field {
    width: 20%;
    margin: 0 auto;

    label[for=search] {
      input {
        height: 2rem;
        width: 70%;
        font-size: 1.4rem;
      }
      button {
        width: 20%;
        height: 2rem;
      }
    }
  }
}

#game-holder {
  display: block;
  width: 100%;
}
