.info-box {
  display: inline-block;
  width: 30%;
  overflow: hidden;

  h1 {
    width: 100%;
  }
  .info-wrapper {
    display: flex;
  }

  .image-wrapper {
    width: 50%;
    max-height: 30rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;

    .featured-image {
      width: 100%;
    }
  }
  .description {
    width: 45%;
    margin: 0;
    padding: 0;
    display: inline-block;

    .content {
      height: 15rem;
      overflow: hidden;
    }
  }
}
