.info-box {
  display: inline-block;
  width: 30%;
  height: 20rem;
  overflow: hidden;
  background-color: #ddd;
  border: 1px solid #bbb;
  transition: width 0.5s;

  +respond-below($md-screen) {
    width: 45%;
  }

  +respond-below(600px) {
    width: 90%;
  }

  h1 {
    width: 100%;
  }
  .info-wrapper {
    display: flex;
  }

  .image-wrapper {
    width: 50%;
    max-height: 30rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;

    .featured-image {
      width: 100%;
    }
  }
  .description {
    width: 45%;
    margin-left: 1rem;
    padding: 0;
    display: inline-block;
  }
}
