.nav-desktop {
  height: 4rem;
  padding: 0 3rem;
  margin: 0;

  #title {
    float: left;
    width: 50%;
  }

  .nav-list {
    float: right;
    width: 40%;
    display: flex;
    margin: 0;
    padding: 0;

    .nav-item {
      display: inline-block;
      padding: 0 2rem;
      height: 4rem;
      margin: 0;

      .nav-link {
        text-decoration: none;
        font-size: 1.5rem;
        margin-top: 2rem;
        height: 4rem;
      }
    }

    .nav-item:hover {
      background-color: #555;
    }
  }
}
