<div class="search-box">
  <h2 class="search-header">Games</h2>
  {{search-field search=(action "searchGames")}}
</div>
<div class="search-box">
  <h2 class="search-header">Movies</h2>
  {{search-field search=(action "searchMovies")}}
</div>
