<nav class="nav-desktop">
  <h2 id="title">Media Tracker</h2>
  <ul class="nav-list">
    <li class="nav-item">
      {{link-to "Home" "index" class="nav-link"}}
    </li>
    <li class="nav-item">
      {{link-to "Something" "index" class="nav-link"}}
    </li>
  </ul>
</nav>

{{outlet}}
