<h1>{{title}}</h1>
<div class="info-wrapper">
  <div class="image-wrapper">
    <img src="{{image}}" class="featured-image"/>
  </div>
  <article class="description">
    <p class="content">{{description}}</p>
  </article>
</div>
